<br>
<div class="footer" style="color:pink; border-radius:4px">
	<div class="footer_container" style="color:white">
		<div id="kutu">
			<b>Genel Sayfalar</b>
			<ul>
				<li><a href="/">Ana Sayfa</a></li>
				<li><a href="/botlar">Botlar</a></li>
        <li><a href="/hakkimizda">Hakkımızda</a></li>
				<li><a href="/sertifika">Sertifika Alma</a></li>
			</ul>
		</div>
    
		<div id="kutu" style="margin-left:150px;">
			<b>İletişim</b>
			<ul>
				<li><a href="https://discord.gg/H"><img src="https://maxcdn.icons8.com/Share/icon/Logos/discord_logo1600.png" height="42" width="42" alt="discord-icon" /></a></li>
			</ul>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <h6 style="color: white">
      Site <a style="color:white">By.Alfa By.ZeroOne ve By.Tayfun</a> Tarafından yapılmıştır! | <a href="#top">Üste Çık</a></p>
    </h6>
	</div>
</div>